<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Project Review</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
    <style>
        .star-rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }
        .star-rating input {
            display: none;
        }
        .star-rating label {
            font-size: 30px;
            cursor: pointer;
        }
        .star-rating input:checked ~ label {
            color: gold;
        }
        .star-rating input:not(:checked) ~ label:hover,
        .star-rating input:not(:checked) ~ label:hover ~ label {
            color: gold;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Review Developers</h1>
    <form action="/ChefProjet/submitReview" method="POST">
        <div th:each="projDev : ${projDevs}">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 th:text="${projDev.developpeur.name}">Developer Name</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Rating:</label>
                        <div class="star-rating">
                            <input type="radio" th:name="'stars_' + ${projDev.developpeur.id}" th:id="'star5_' + ${projDev.developpeur.id}" value="5" th:checked="${projDev.stars == 5}">
                            <label th:for="'star5_' + ${projDev.developpeur.id}">&#9733;</label>
                            <input type="radio" th:name="'stars_' + ${projDev.developpeur.id}" th:id="'star4_' + ${projDev.developpeur.id}" value="4" th:checked="${projDev.stars == 4}">
                            <label th:for="'star4_' + ${projDev.developpeur.id}">&#9733;</label>
                            <input type="radio" th:name="'stars_' + ${projDev.developpeur.id}" th:id="'star3_' + ${projDev.developpeur.id}" value="3" th:checked="${projDev.stars == 3}">
                            <label th:for="'star3_' + ${projDev.developpeur.id}">&#9733;</label>
                            <input type="radio" th:name="'stars_' + ${projDev.developpeur.id}" th:id="'star2_' + ${projDev.developpeur.id}" value="2" th:checked="${projDev.stars == 2}">
                            <label th:for="'star2_' + ${projDev.developpeur.id}">&#9733;</label>
                            <input type="radio" th:name="'stars_' + ${projDev.developpeur.id}" th:id="'star1_' + ${projDev.developpeur.id}" value="1" th:checked="${projDev.stars == 1}">
                            <label th:for="'star1_' + ${projDev.developpeur.id}">&#9733;</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="commentaire">Comment:</label>
                        <textarea class="form-control" th:name="'commentaire_' + ${projDev.developpeur.id}" rows="4" th:placeholder="'Review for ' + ${projDev.developpeur.name}" required></textarea>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="projectId" th:value="${idProj}" />
        <button type="submit" class="btn btn-primary btn-block">Submit Reviews</button>
    </form>

</div>
</body>
</html>
