<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Developer</title>
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Reset Your Developer Password</h1>
                                </div>
                                <form class="user" th:action="@{/developer/forgot-password}" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" name="login" placeholder="Enter your Username" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" name="newPassword" placeholder="Enter New Password" required/>
                                    </div>
                                    <!-- Display errors or success messages -->
                                    <div th:if="${error}" class="alert alert-danger">
                                        <p th:text="${error}"></p>
                                    </div>
                                    <div th:if="${success}" class="alert alert-success">
                                        <p th:text="${success}"></p>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Reset Password
                                    </button>
                                </form>
                                <hr />
                                <div class="text-center">
                                    <a class="small" th:href="@{/developer/login}">Back to Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
</html>
